.images-boostrap {
    width: 50px;
    height: 50px;
}

.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
    flex-direction: row-reverse;
}

.images-carousel {
    height: 537px;
}

.section-card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    padding: 5px;
}
.footer-custom {
    margin-top: 10px;
    background-color:  rgba(136, 204, 91, 0.15);
    text-align: left;
    padding: 40px 20px;
    font-size: 20px;
}

@media (min-width: 320px) and (max-width: 767px) {
    .section-card {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 10px;
        padding: 10px;
    }

    .footer-custom {
        text-align: center;
        font-size: 16px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .section-card {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        padding: 10px;
    }

    .footer-custom {
        text-align: center;
        font-size: 18px;
    }
}
